.page-footer {
    padding: 55px 0;
    background-color: #0C0C0C;
    color: #fff;
    font-family: 'Lato', sans-serif;
}
.page-footer {

}
.page-footer__footer {

}
.page-footer__grid {
    @include grid-template-columns(12);
    gap: 30px;
}
.page-footer__col-logo {
    @include col-span(3);
}
.page-footer__logo {

}
.page-footer__col-text {
    @include col-span(3);
    display: flex;
    align-items: center;
}
.page-footer__text {

}
.page-footer__col-address {
    @include col-span(3);
}
.page-footer__address {
    color: #F5F5F5;
    margin: 0 auto;
    max-width: 220px;
}
.page-footer__title {
    font-size: 18px;
    font-weight: 700;
}
.page-footer__col-contacts {
    @include col-span(3);
}
.page-footer__contacts {
    margin: 0 auto;
    max-width: 220px;
}
.page-footer__contacts-item {
    @include margin-bottom-not-last(20px);
}
.page-footer__col-menu {
    @include col-span(3);
    grid-row: auto / span 2;
    display: flex;
    justify-content: center;
}
.page-footer__menu {

}
.page-footer__menu-items {
    margin: -8px 0;
}
.page-footer__menu-link {
    display: block;
    color: #F5F5F5;
    padding: 8px 0;
    @include link-h;
}
.page-footer__link {
    display: block;
    color: #808080;
    text-align: right;
    @include link-h;
    @include margin-bottom-not-last(24px);
}
.page-footer__col-links {
    @include col-span(3);
}
.page-footer__links {

}
.page-footer__col-payments {
    grid-column: 10 / span 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.page-footer__payments {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 35px;
}

.page-footer__footer-info {

    color: #F5F5F5;
}
.page-footer__color {
    color: #808080;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.page-footer__title{
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}
.page-footer__contacts-link {

    a {
        color: #808080;
        transition: 0.2s;
        @include link-h;
    }

}
.page-footer__text {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
    color: #808080;
    @include text-last-mb-fix;
    a {
        color: inherit;
        text-decoration: underline;
        transition: 0.2s;
        @include link-h;
    }
}

@include media-breakpoint-between(md,lg) {
    .page-footer__col-logo {
        grid-column: auto / span 12;
    }
    .page-footer__col-address {
        grid-column: auto / span 4;
    }
    .page-footer__col-contacts {
        grid-column: 5 / span 4;
        grid-row: 2 / span 1;
    }
    .page-footer__col-links {
        grid-column: auto / span 8;
    }
    .page-footer__link {
        text-align: left;
    }
    .page-footer__col-payments {
        grid-column: 1 / span 5;
        justify-content: flex-start;
    }
    .page-footer__col-payments {
        grid-column: 1 / span 5;
        justify-content: flex-start;
        grid-row: 4 / span 1;
    }
    .page-footer__col-text {
        grid-column: auto / span 7;
    }
    .page-footer__contacts,
    .page-footer__address {
        max-width: none;
    }
}
@include media-breakpoint-down(sm) {
    .page-footer__contacts,
    .page-footer__address {
        max-width: none;
    }
    .page-footer__col-logo {
        grid-column: auto / span 12;
    }
    .page-footer__col-address {
        grid-column: auto / span 12;
    }
    .page-footer__col-menu {
        grid-column: auto / span 12;
        justify-content: flex-start;
    }
    .page-footer__col-links {
        grid-column: auto / span 12;
    }
    .page-footer__col-text {
        grid-column: auto / span 12;
        grid-row-start: 8;
    }
    .page-footer__col-contacts {
        grid-column: auto / span 12;
        grid-row-start: 3;
    }
    .page-footer__col-payments {
        grid-column: auto / span 12;
    }
    .page-footer__link {
        text-align: left;
    }
    .page-footer__col-payments {
        justify-content: flex-start;
    }
}
