mixin b-products-list(data)
    +b.b-products-list
        .container
            +e.title Результаты поиска
            +e.products-row.row
                .col-lg-3.col-6
                    +e.A.product(href='/')
                        +e.DIV.img
                            +e.badges
                                +e.badge Акция
                            +e.more
                                +e.more-text Подробнее
                            img(src='__static__img/general/built-in.png' loading="lazy" title='Встраиваемый светильник Markt' alt='Фото товара - встраиваемый светильник Markt')
                        +e.button
                            +e.product-name Встраиваемый светильник Markt
                            +e.prices
                                +e.price._hot 3 490 ₽
                                +e.price._old 5 060 ₽
                .col-lg-3.col-6
                    +e.A.product(href='/')
                        +e.DIV.img
                            +e.badges
                                //+e.badge Акция
                            +e.more
                                +e.more-text Подробнее
                            img(src='__static__img/general/linear.png' loading="lazy" title='Линейный светильник ARG' alt='Фото товара - линейный светильник ARG')
                        +e.button
                            +e.product-name Линейный светильник ARG
                            +e.prices
                                +e.price 6 700 ₽
                .col-lg-3.col-6
                    +e.A.product(href='/')
                        +e.DIV.img
                            +e.badges
                                +e.badge Акция
                            +e.more
                                +e.more-text Подробнее
                            img(src='__static__img/general/LED.jpg' loading="lazy" title='Сведодиодный светильник' alt='Фото товара - Сведодиодный светильник')
                        +e.button
                            +e.product-name Светодиодный светильник
                            +e.prices
                                +e.price._hot 5 060 ₽
                                +e.price._old 6 060 ₽
                .col-lg-3.col-6
                    +e.A.product(href='/')
                        +e.DIV.img
                            +e.badges
                                //+e.badge Акция
                            +e.more
                                +e.more-text Подробнее
                            img(src='__static__img/general/built-in.png' loading="lazy" title='Встраиваемый светильник Markt' alt='Фото товара - встраиваемый светильник Markt')
                        +e.button
                            +e.product-name Встраиваемый светильник Markt
                            +e.prices
                                +e.price 3 490 ₽
                .col-lg-3.col-6
                    +e.A.product(href='/')
                        +e.DIV.img
                            +e.badges
                                +e.badge Акция
                            +e.more
                                +e.more-text Подробнее
                            img(src='__static__img/general/linear.png' loading="lazy" title='Линейный светильник ARG' alt='Фото товара - линейный светильник ARG')
                        +e.button
                            +e.product-name Линейный светильник ARG
                            +e.prices
                                +e.price._hot 6 700 ₽
                                +e.price._old 6 060 ₽
                .col-lg-3.col-6
                    +e.A.product(href='/')
                        +e.DIV.img
                            +e.badges
                                //+e.badge Акция
                            +e.more
                                +e.more-text Подробнее
                            img(src='__static__img/general/LED.jpg' loading="lazy" title='Сведодиодный светильник' alt='Фото товара - Сведодиодный светильник')
                        +e.button
                            +e.product-name Светодиодный светильник
                            +e.prices
                                +e.price 5 060 ₽
                .col-lg-3.col-6
                    +e.A.product(href='/')
                        +e.DIV.img
                            +e.badges
                                +e.badge Акция
                            +e.more
                                +e.more-text Подробнее
                            img(src='__static__img/general/built-in.png' loading="lazy" title='Встраиваемый светильник Markt' alt='Фото товара - встраиваемый светильник Markt')
                        +e.button
                            +e.product-name Встраиваемый светильник Markt
                            +e.prices
                                +e.price._hot 3 490 ₽
                                +e.price._old 6 060 ₽
                .col-lg-3.col-6
                    +e.A.product(href='/')
                        +e.DIV.img
                            +e.badges
                                //+e.badge Акция
                            +e.more
                                +e.more-text Подробнее
                            img(src='__static__img/general/linear.png' loading="lazy" title='Линейный светильник ARG' alt='Фото товара - линейный светильник ARG')
                        +e.button
                            +e.product-name Линейный светильник ARG
                            +e.prices
                                +e.price 6 700 ₽
